@font-face {
  font-family: "ComfortaaRegular";
  src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot");
  src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ComfortaaRegular/ComfortaaRegular.woff") format("woff"), url("../fonts/ComfortaaRegular/ComfortaaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
header {
  padding-top: 35px;
  background: rgba(255, 255, 255, 0.24);
  padding-right: 125px;
  padding-left: 125px;
  height: 75px;
  margin-bottom: -120px;
  position: relative;
}
header img {
  float: left;
  margin-right: 35px;
}
header .tel {
  margin-top: -10px;
  float: right;
  text-align: right;
}
header .tel ul {
  float: right;
}
header .tel a {
  text-decoration: none;
  color: #665a56;
  font-size: 13pt;
}
header .tel .mail {
  margin-top: 15px;
}
header .menu {
  margin-top: 5px;
  float: left;
}
header .menu a {
  float: none;
  text-decoration: none;
  color: #665a56;
  font-size: 15pt;
}
header .menu li {
  margin-left: 20px;
  display: inline;
}
body {
  font-family: "ComfortaaRegular";
  position: relative;
}
body .baner {
  height: 575px;
  z-index: 2;
  background: url(img/bg.png);
  padding-top: 320px;
}
body .baner .next {
  margin-left: -750px;
  margin-top: 125px;
  float: left;
}
body .baner .back {
  margin-right: 150px;
  margin-top: 125px;
  float: right;
}
body .baner .col {
  margin-top: 500px;
  text-align: center;
  margin-left: -225px;
}
body .baner h1 {
  height: 100px;
  width: 800px;
  float: left;
  text-align: center;
  margin-left: 150px;
  font-size: 45pt;
  color: #85334a;
}
body .baner button {
  float: left;
  margin-top: 200px;
  margin-left: -550px;
  font-size: 12pt;
  height: 45px;
  width: 250px;
  color: #85334a;
  background: none;
  border: solid 1px #85334a;
  border-radius: 5px;
}
body .baner button:hover {
  background: #85334a;
  color: white;
  border: solid 1 px #ff0000;
}
body .product {
  text-align: center;
  background: url(img/bg_product.png);
}
body .product h2 {
  margin-top: 75px;
  color: #85334a;
  font-size: 21pt;
}
body .product hr {
  background: #85334a;
  height: 2px;
  width: 100px;
}
body .product p {
  margin-top: 50px;
  text-align: center;
  font-size: 13pt;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
body .product button {
  margin-top: 50px;
  font-size: 12pt;
  height: 45px;
  width: 250px;
  color: #85334a;
  background: none;
  border: solid 1px #85334a;
  border-radius: 5px;
}
body .product button:hover {
  background: #85334a;
  color: white;
  border: solid 1 px #ff0000;
  border-radius: 10px;
}
body .product .all {
  text-align: center;
}
body .product .all .contein {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 450px;
  width: 250px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}
body .product .all .contein:hover {
  box-shadow: 0 0 10px rgba(206, 42, 42, 0.5);
}
body .reserv {
  margin-top: 75px;
  background: url(img/bg_lasst.png);
  background-repeat: no-repeat;
  height: 550px;
}
body .reserv .inp {
  text-align: center;
  float: right;
  width: 700px;
}
body .reserv .inp input {
  background: none;
  margin-right: 170px;
  border: solid 0px;
  margin-top: 135px;
  border-bottom: solid 1px rgba(64, 64, 64, 0.54);
}
body .reserv .inp .inp_mess {
  width: 350px;
}
